@charset "UTF-8";

/* Fontes */

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 1rem;
  background: linear-gradient(68.15deg, #2f2325 16.62%, #8e5d52 85.61%);
}

.cabecalho {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-imagem {
  width: 72px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
}

.cabecalho-menu-item {
  font-family: "Sarala", sans-serif;
  color: #fff2e7;
  font-weight: 400;
  font-size: 1.125rem;
}

.conteudo {
  margin-bottom: 48px;
  border-top: 0.4px solid #fff2e7;
}

.conteudo-principal {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.conteudo-principal-escrito {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.conteudo-principal-titulo {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 4rem;
  color: #fff2e7;
}

.conteudo-principal-subtitulo {
  font-family: "Sarala", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #ecd6c4;
}

.botao-me-adicione {
  background-color: #ecd6c4;
  width: 180px;
  height: 60px;
  border: none;
  box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: "Sarala", sans-serif;
  font-size: 1.5rem;
  color: #2f2325;
  cursor: pointer;
}

.botao-me-adicione:hover {
  background-color: rgba(236, 214, 196, 0.53);
}

.ballet-bot-robo {
  height: 430px;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  border-top: 0.4px solid #fff2e7;
  padding-top: 48px;
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff2ef;
  margin-bottom: 16px;
}

.conteudo-secundario-p {
  font-family: "Sarala", sans-serif;
  font-size: 1.125rem;
  color: #ecd6c4;
}

.rodape {
  padding: 32px;
  border-top: 0.4px solid #fff2e7;
  display: flex;
  justify-content: center;
}

.rodape-imagem {
  height: 48px;
}
